$primary: #3498db;
$secondary: #e67e22;
$bg-primary:#fff;
$bg-secondary:#F9FBFC;
$txt-primary:#5b5d61;
$txt-secondary:#BCC8D8;
$font-primary:'Tajawal',sans-serif;
$font-secondary:'Helvetica Neue LT Pro',sans-serif;